@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Karla', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 200px;
    width: 100%;
}

.header nav {
    width: 40%;
}

.menu {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.menu li {
    color: hsl(273, 4%, 51%);
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

.menu li:hover {
    color: hsl(270, 9%, 17%);
}

.menu li:last-child a {
    padding: 15px 20px;
    border: 2px solid hsl(270, 9%, 17%);
    color: hsl(270, 9%, 17%);
    transition: 0.3s ease-in-out;
}

.menu li:last-child a:hover {
    background-color: hsl(270, 9%, 17%);
    color: hsl(0, 0%, 98%);
}

.humanizing {
    background-color: hsl(256, 26%, 20%);
    padding: 60px 200px;
    height: 550px;
    position: relative;
}

.line {
    width: 150px;
    height: 2px;
    margin-bottom: 60px;
}

.line.white {
    background-color: hsl(0, 0%, 98%);
}

.humanizing .title {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    color: hsl(0, 0%, 98%);
    font-size: 52px;
    line-height: 57px;
    width: 380px;
    margin-bottom: 20px;
}

.humanizing .description {
    color: hsl(0, 0%, 98%);
    font-size: 18px;
    line-height: 23px;
    width: 600px;
    margin-bottom: 40px;
}

.button {
    text-transform: uppercase;
    color: hsl(0, 0%, 98%);
    padding: 10px 20px;
    border: 2px solid hsl(0, 0%, 98%);
    transition: 0.3s ease-in-out;
}

.button:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
}

.humanizing img {
    position: absolute;
    top: 60px;
    right: 200px;
}

.different {
    padding: 60px 200px;
    margin-top: 200px;
}

.line.violet {
    background-color: hsl(256, 26%, 20%);
}

.different h2 {
    font-size: 52px;
    font-family: 'DM Serif Display', serif;
    color: hsl(270, 9%, 17%);
    margin-bottom: 60px;
    letter-spacing: 2px;
}

.different .lists {
    display: flex;
    gap: 225px;
}

.different .lists ul li {
    margin-bottom: 20px;
}

.different h3 {
    font-size: 26px;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
}

.different .description {
    color: hsl(273, 4%, 51%);
    line-height: 26px;
}

.find-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    margin: 60px 200px 100px;
    padding: 60px 100px;
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: hsl(256, 26%, 20%);
}

.find-out h2 {
    font-size: 52px;
    font-family: 'DM Serif Display', serif;
    color: hsl(0, 0%, 98%);
    font-weight: 400;
    width: 460px;
}

.footer {
    background-color: hsl(0, 0%, 98%);
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    padding: 60px 200px;
}

.footer .footer-top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer .footer-top-div .social {
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: hsl(273, 4%, 51%);
    cursor: pointer;
}

.footer .footer-top-div .social li:hover {
    color: hsl(270, 9%, 17%);
    transition: 0.3s ease-in-out;
}

.line-footer {
    width: 100%;
    height: 1px;
    background-color: hsl(273, 4%, 51%);
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links ul li {
    color: hsl(270, 9%, 17%);
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

.links ul li:hover {
    text-decoration: underline;
}

.links ul li:first-child {
    color: hsl(273, 4%, 51%);
    margin-bottom: 25px;
}

.links ul li:first-child:hover {
    text-decoration: none;
}